.div-add-editTask {
  display: flex;
  justify-content: space-between;
}

.p-add-editTask {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.375rem;
}

.btn-edit-outside {
  border-radius: 9999px;
  padding: 0.375rem;
  background-color: #3b82f6;
  color: white;
}
.btn-edit-outside:hover {
  background-color: #1e3a8a;
}

.btn-top-container {
  display: flex;
  justify-content: space-between;
}

.text-edit-task {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-size: 700;
  padding-bottom: 0.375rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select {
  border-width: 1px;
  padding: 0 0.25rem;
  margin-top: 0.375rem;
  width: 100%;
}

.tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.375rem;
}

.btn-tag {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: rgb(229, 231, 235);
  padding: 0.25rem 0.625rem;
  border-radius: 0.5rem;
  font-size: 0, 875rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.btn-tag:hover {
  background-color: rgb(156, 163, 175);
}

.icon-plus {
  margin-right: 0rem;
}

.btn-submit {
  padding: 0.25rem 0.5rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.75rem;
  color: white;
}

.btn-update {
  background-color: rgb(74, 222, 128);
}
.btn-update:hover {
  background-color: rgb(58, 173, 100);
}

.btn-edit {
  background-color: rgb(96, 165, 250);
}
.btn-edit:hover {
  background-color: rgb(56, 103, 161);
}
