.board-container {
  width: 100%;
  min-height: 60vh;
}

.status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
}
.status-counter {
  color: #9b9a97;
}

.board-title {
  font-size: 1.1rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding: 1px 8px;
  border-radius: 0.3rem;
  width: fit-content;
}

.board-title-red {
  background-color: rgb(247, 167, 167);
}

.board-title-blue {
  background-color: rgb(163, 204, 255);
}

.board-title-green {
  background-color: rgb(145, 250, 184);
}

.board-card-container {
  margin-top: 1rem;
  border-radius: 0.75rem;
  background-color: rgb(55, 65, 81, 0.5);
  padding: 1rem;
  height: 100%;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}
